NODE_ENV=development
DB_USER=root
DB_PASSWORD=root
DB_NAME=openinapp_development
DB_HOST=127.0.0.1
DB_PORT=3306
SALT_ROUNDS=10
BACKEND_SERVICE_PORT=8000
JWT_SECRET="iamadevelsds"
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
DEPLOYED_BACKEND_HOST=https://bbe4-2405-204-1296-c111-41d3-34f6-207a-d76f.ngrok-free.app